<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SISTEMA VENTAS</title>
<link rel="stylesheet"
	th:href="@{../vendors/mdi/css/materialdesignicons.min.css}">
<link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>
	<div class="container-scroller">
		<section th:replace="/fragments/menu::menu"></section>
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group row">
							<div class="card borde">
								<div class="card-body">
									<ul class="list-group text-white">
										<li class="list-group-item detalle text-white">CODIGO</li>
										<li class="list-group-item detalle text-white">EMPRESA</li>
										<li class="list-group-item detalle text-white">CONTACTO</li>
										<li class="list-group-item detalle text-white">DESCRIPCION</li>
										<li class="list-group-item detalle text-white">TELEFONO</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="form-group row">
							<div class="card borde">
								<div class="card-body">
									<ul class="list-group text-wite">
										<li class="list-group-item detalle text-white" th:text="${proveedor.codigo}"></li>
										<li class="list-group-item detalle text-white" th:text="${proveedor.empresa}"></li>
										<li class="list-group-item detalle text-white" th:text="${proveedor.contacto}"></li>
										<li class="list-group-item detalle text-white" th:text="${proveedor.descripcion}"></li>
										<li class="list-group-item detalle text-white" th:text="${proveedor.telefono}"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{../vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{../js/off-canvas.js}"></script>
<script th:src="@{../js/misc.js}"></script>
</html>