<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SISTEMA DE VENTA</title>
<link rel="stylesheet"
	th:href="@{../vendors/mdi/css/materialdesignicons.min.css}">
<link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>
	<div class="container-scroller">
		<section th:replace="/fragments/menu::menu"></section>
		<div class="main-panel">
			<div class="content-wrapper">
			<a class="btn btn-warning icon" th:href="@{/proveedor}"><img
					th:src="@{../icons/return.svg}"></a>
				<div class="col-lg-12 grid-margin stretch-card pt-3">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">INGRESE LOS DATOS DEL PROVEEDOR</h4>
							<form th:action="@{/proveedores}" th:object="${proveedor}"class="formulario" method="post">
								<div class="form-group col-md-12">
									<label>EMPRESA </label> <input type="text"
										th:field="*{empresa}" class="form-control text-white" name="empresa"
										th:classappend="${#fields.hasErrors('empresa')} ? 'is-invalid' : ''">
										<div class="invalid-feedback" th:errors="*{empresa}"></div>
								</div>
								<div class="form-group col-md-12">
									<label>CONTACTO </label> <input type="text"
										th:field="*{contacto}" class="form-control text-white" id="contacto"
										th:classappend="${#fields.hasErrors('contacto')} ? 'is-invalid' : ''">
										<div class="invalid-feedback" th:errors="*{contacto}"></div>
								</div>
								<div class="form-group col-md-12">
									<label for="Descripcion">DESCRIPCION </label> <input type="text"
										th:field="*{descripcion}" class="form-control text-white" id="Descripcion"
										th:classappend="${#fields.hasErrors('descripcion')} ? 'is-invalid' : ''">
										<div class="invalid-feedback" th:errors="*{descripcion}"></div>
								</div>
								<div class="form-group col-md-12">
									<label for="apellido">TELEFONO </label> <input type="text"
										th:field="*{telefono}" class="form-control text-white" id="Apellido"
										th:classappend="${#fields.hasErrors('telefono')} ? 'is-invalid' : ''">
										<div class="invalid-feedback" th:errors="*{telefono}"></div>
								</div>
								<div class="form-group row">
									<div class="col-sm-12" style="text-align: right">
										<button class="btn btn-success icon" type="submit"><img th:src="@{../icons/save.svg}"></button>
									</div>
								</div>
								<input type="hidden" th:field="*{codigo}">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{../vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{../js/off-canvas.js}"></script>
<script th:src="@{../js/misc.js}"></script>
</html>