<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SISTEMA DE VENTA</title>
<link rel="stylesheet"
	th:href="@{../vendors/mdi/css/materialdesignicons.min.css}">
<link rel="stylesheet" th:href="@{../css/style.css}">
<link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
<script src="sweetalert2/dist/sweetalert2.min.js"></script>
</head>
<body>
    <div class="container-scroller">
	<section th:replace="/fragments/menu::menu"></section> 
	<div class="main-panel container">
				<div class="content-wrapper">
	<section th:replace="/fragments/carrusel::carrusel"></section>
	</div>
	</div>
	</div>
	
</body>
<script th:src="@{../vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{../js/off-canvas.js}"></script>
<script th:src="@{../js/misc.js}"></script>
</html>