<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="master">
<head>
<meta charset="UTF-8">
<title>SISTEMA DE VENTA</title>
<link rel="stylesheet"
	th:href="@{../vendors/mdi/css/materialdesignicons.min.css}">
<link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>
	<div class="container-scroller">
		<section th:replace="/fragments/menu::menu"></section>
		<main layout:fragment="contenido">
			<div class="main-panel container">
				<div class="content-wrapper">
					<form class="d-flex pt-3 mx-5" role="search">
						<button class="btn btn-success icon3" type="submit">
							<img th:src="@{../icons/search.svg}">
						</button>
						<input class="form-control me-2 text-white" type="search"
							name="search" id="search" th:value="${search}"
							aria-label="Search" placeholder="Search">
					</form>
					<form class="d-flex pt-3 mx-5" role="search"
						th:action="@{/sendMail}" method="post">
						<button class="btn btn-success" type="submit">
							ENVIAR CORREO
						</button>
						<input class="form-control me-2 text-white" style="width: 25%" type="text"
							name="correo" id="search"
							aria-label="Search" placeholder="Correo">
					</form>
					<div class="col-12 container py-5">
						<div
							th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
							th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
						</div>
						<a class="btn btn-light mb-2 icon" th:href="@{/vender/}"><img
							th:src="@{../icons/add.svg}"></a>
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr class="text-center">
										<th>CODIGO</th>
										<th>FECHA</th>
										<th>PRODUCTOS</th>
										<th>TOTAL</th>
										<th>CLIENTE</th>
										<th>EMPLEADO</th>
										<th>METODO</th>
									</tr>
								</thead>
								<tbody class="text-center text-white">
									<tr th:each="venta : ${ventas}">
										<td><button class="btn btn-warning" th:text="${venta.codigo}" type="submit"></button></td>
										<td th:text="${venta.fecha}"></td>
										<td>
											<table class="table table-bordered">
												<thead>
													<tr class="text-center">
														<th>Codigo</th>
														<th>Descripcion</th>
														<th>Venta</th>
														<th>Cantidad</th>
													</tr>
												</thead>
												<tbody class="text-center text-white">
													<tr th:each="producto : ${venta.productos}">
														<td th:text="${producto.codigo}"></td>
														<td th:text="${producto.descripcion}"></td>
														<td th:text="${producto.precio}"></td>
														<td th:text="${producto.cantidad}"></td>
													</tr>
												</tbody>
											</table>
										</td>
										<td th:text="${venta.total}"></td>
										<td th:text="${venta.empleado}"></td>
										<td th:text="${venta.cliente}"></td>
										<td th:text="${venta.pago}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
<script th:src="@{../vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{../js/off-canvas.js}"></script>
<script th:src="@{../js/misc.js}"></script>
</html>